.note-editor
  form.note-editor-form(autocomplete='off', hx-post="/note", hx-target="#note-viewer", hx-trigger="click from:#btn-done")
    label.offscreen(for='note-title-input') Enter a title for your note
    input#note-title-input(type='text' value='Untitled', name="title")
    label.offscreen(for='note-body-input') Enter the body for your note
    textarea#note-body-input(name="draft", hx-post="/preview", hx-trigger="keyup changed delay:500ms", hx-target="#markdown")
  .note-editor-preview
    .note-editor-menu(role='menubar')
      button#btn-done.note-editor-done(
        type="submit", 
        )
        img(src='/images/checkmark.svg' alt='' role='presentation' width='14px' height='10px')
        | Done
    .label.label--preview(role='status') Preview
    h1.note-title Untitled
    .note-preview
      #markdown.text-with-markdown

