.note
  .note-header
    h1.note-title #{note.title}
    .note-menu(role='menubar')
      small.note-updated-at(role='status') Last updated on 10 Mar 2021 at 7:46 PM
      button.edit-button.edit-button--outline(hx-get="/edit/" + note.id, hx-target="#note-viewer", role='menuitem') Edit
  .note-preview
    .text-with-markdown !{markdown}
